.hamburger{
    display: none;
    @include respond(tab-port){
        display: block;
    }
}

.close{
    display: none;
    position: absolute;
    right: 13px;
    top: 16px;
    font-size: 28px;
    color: $color-secondary;
    @include respond(tab-port){
        display: block;
    }
}