$color-primary: #232840;
$color-primary-dark: #1a1f35;
$color-secondary: #f649a7;
$color-accent: #a3cacd;
$color-success: #59df7f;


$theme-colors: (
    primary: $color-primary,
    secondary: $color-secondary,
    accent: $color-accent,
);